/*CSS**GENERALE**HEADER*FOOTER*HOME*NOUS RENCONTRER*COMMANDER**/
*{
   border: solid blue !important;
}

/*GENERALE*/
body {
   font-family: 'Syne', sans-serif;
   color: #000000;
   max-width: 1440px;
   margin: auto;
}

/*Titre H1 Titre Page Home + dans les images Fraise Pamplemousse Framboise Citron (Home)*/
h1{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 48px;
   line-height: 57.6px;
   color: #FFFFFF;
}

/*Titre H2*/
h2{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 38px;
   line-height: 45.6px;
   color: #FFFFFF;  
}

/*Titre H3*/
h3{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
}

/*Titre H4*/
h4{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
}

/*Titre H5*/
h5{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}

/*Paragraphe text*/
p{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
}






/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*HEADER*/
/*Header conteneur*/
#header{
   display: flex;
   height: 80px;
   align-items: center;
}

/*Logo*/
.custom-logo{
   width: 275px;
   height: auto;
}

/*Image Logo*/
.custom-logo-link{
   object-fit: contain; 
}
 
/*Supprimer Titre et Slogan (description) du Site*/
#branding{
   display: none;
}

/*Menu Nav en ligne*/
#menu-menu-principale{
   display: flex;
   width: 100%;
   height: 80px;
   align-items: center;
   justify-content: flex-end;
}

/*Conteneur Menu*/
#menu{
   width: 100%;
   margin: auto;
}

/*Header Lien <a> Menu*/
#menu a{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
}

/*Header Lien <a> Menu SURVOL*/
#menu a:hover{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 13px;
   line-height: 15.6px;
   color: #000000;
}

/*NAV Nous rencontrer*/
#menu-item-40{
   order: 1;
   width: 136px;
   height: 80px;
}

/*NAV Commander*/
#menu-item-39{
   order: 3;
   height: auto;
   width: 236px;
   height: 80px;
   background-color: #E0B9B4;
}

/*NAV Commander TEXTE*/
#menu-item-39 a{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #FFFFFF; 
}
/*Commander conteneur */
#menu-item-39:hover{
   background-color: #C02E44;
}

/*NAV TEXTE Commander SURVOL*/
#menu-item-39:hover a{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 13px;
   line-height: 15.6px;
   color: #FFFFFF;
}

/*NAV Admin*/
#menu-menu-principale > li:nth-child(3){
   order: 2;
   width: 136px;
   height: 80px;
   color: #FFFFFF;
}

/*BEUG PADDING AUTO CENTRER TEXTE BOUTON MENU NAVIGATION*/

/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*FOOTER     le lien retour page acceuil HS*/
/*Conteneur Footer*/
#site-footer {
   width: 100%;
   margin: auto;
   margin-bottom: auto;
}

/*Footer Couleurs...*/
.header-footer-group{
   padding: 20px;
   height: 60px;
   text-align: center;
}

/*Footer text*/
.Ml{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
}


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*HOME*/
.home #container{
   width: 100%;
}













/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*NOUS RENCONTRER*/



/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*COMMANDER*/

