/*CSS**GENERALE**HEADER*FOOTER*HOME*NOUS RENCONTRER*COMMANDER**/
*{
   border: solid blue !important;
}

/*GENERALE*/
body {
   font-family: 'Syne', sans-serif;
   color: #000000;
   max-width: 1440px;
   margin: auto;
}

/*Titre H1 Titre Page Home + dans les images Fraise Pamplemousse Framboise Citron (Home)*/
h1{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 48px;
   line-height: 57.6px;
   color: #FFFFFF;
}

/*Titre H2*/
h2{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 38px;
   line-height: 45.6px;
   color: #FFFFFF;  
}

/*Titre H3*/
h3{
   font-family: 'Syne', sans-serif;
   font-weight: 800;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
}

/*Titre H4*/
h4{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: #FFFFFF;
}

/*Titre H5*/
h5{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}

/*Paragraphe text*/
p{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
}


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*HEADER*/

/*Header conteneur*/
#header{

   display: flex;
   height: 80px;
   align-items: center;
}

/*Conteneur logo*/
.custom-logo{
   width: 275px;
   height: auto;
}

/*Image logo*/
.custom-logo-link{
   object-fit: contain; 
}
 
/*Supprimer titre et slogan (description) du site*/
#branding{
   display: none;
}

/*Menu Nav en ligne*/
#menu-menu-principale{
   display: flex;
   width: 100%;
   height: 80px;
   align-items: center;
   justify-content: flex-end;
}

/*Conteneur Menu*/
#menu{
   width: 100%;
   margin: auto;
}

/*Header Lien <a> Menu*/
#menu a{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
}

/*Header Lien <a> Menu SURVOL*/
#menu a:hover{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 13px;
   line-height: 15.6px;
   color: #000000;
}

/*NAV Nous rencontrer*/
#menu-item-40{
   order: 1;
   width: 136px;
   height: 80px;
}

/*NAV Commander*/
#menu-item-39{
   order: 3;
   height: auto;
   width: 236px;
   height: 80px;
   background-color: #E0B9B4;
}

/*NAV Commander TEXTE*/
#menu-item-39 a{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #FFFFFF; 
}
/*Commander conteneur */
#menu-item-39:hover{
   background-color: #C02E44;
}

/*NAV TEXTE Commander SURVOL*/
#menu-item-39:hover a{
   font-family: 'Syne', sans-serif;
   font-weight: 700;
   font-size: 13px;
   line-height: 15.6px;
   color: #FFFFFF;
}

/*NAV Admin*/
#menu-menu-principale > li:nth-child(3){
   order: 2;
   width: 136px;
   height: 80px;
   color: #FFFFFF;
}

/*BEUG PADDING AUTO CENTRER TEXTE BOUTON MENU NAVIGATION*/

/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*FOOTER     le lien retour page acceuil HS*/
/*Conteneur Footer*/
#site-footer {
   width: 100%;
   margin: auto;
   margin-bottom: auto;
}

/*Footer Couleurs...*/
.header-footer-group{
   padding: 20px;
   height: 60px;
   text-align: center;
}

/*Footer text*/
.Ml{
   font-family: 'Syne', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19.2px;
   color: #000000;
}


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*HOME*/
/*Home SECTION image canette*/
.home #container{
   width: 100%;
}

/*Padding top Conteneur titre*/
.home .elementor-element-b36a5ed{
   padding-top: 80px;
}

/*Conteneur 3 images*/
.home .elementor-element-52e7e45{
   width: 100%;
   display: flex;
}

/*Conteneur*/
.home .elementor-element-e872f88{
   width: 100%;
}

/*Conteneur   BEUG NON 100% DE LARGEUR*/
.home .e-con-inner{
   width: 100%;
  
}
/*Feuille de gauche*/
.home .elementor-element-8ee9ce3{
   width: 33%;
   padding-top: 100px;
}

/*Canette*/
.home .elementor-element-ba57524{
   width: 33%;
   z-index: 2;
}

/*Feuille de droite*/
.home .elementor-element-09150f8{
   width: 33%;
   padding-top: 100px;
}

/*************************************************/
/*Home SECTION L'énergie des plantes*/

/*Texte "Planty, c’est la première boisson
énergisante composée à 100 % de produits naturels..." */
.home .elementor-element-aec91a0{
   margin-top: 30px;
}

/*************************************************/
/*Home SECTION Les goûts IMAGES*/


/*conteneur galerie 4 images*/
.home .elementor-element-566e9c9{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 600px;
}

/*Conteneur image fraise*/
.home .elementor-element-27cb8b2 > div:nth-child(1) > img:nth-child(1){
   width: 393px;
   height: 262px;
   margin-right: 0px;
}

/*Placement image fraise*/
.home .elementor-element-27cb8b2 > div:nth-child(1){
   padding-left: 268px;
}


/*Conteneur image pamplemousse*/
.home .elementor-element-f6ba255 > div:nth-child(1) > img:nth-child(1){
   width: 393px;
   height: 262px;
}

/*Placement image pamplemousse*/
.home .elementor-element-f6ba255 > div:nth-child(1){
   padding-right: 268px;
}

/*Conteneur image framboise*/
.home .elementor-element-77821b1 > div:nth-child(1) > img:nth-child(1){
   width: 393px;
   height: 262px;
   margin-right: 0px;
}

/*Placement image framboise*/
.home .elementor-element-77821b1 > div:nth-child(1){
   padding-left: 268px;
}

/*Conteneur image citron*/
.home .elementor-element-d08c8a8 > div:nth-child(1) > img:nth-child(1){
   width: 393px;
   height: 262px;
}

/*Placement image citron*/
.home .elementor-element-d08c8a8 > div:nth-child(1){
   padding-right: 268px;
}
/*************************************************/
/*Conteneur Titre fraise*/
.home .elementor-element-9f5b5f0 > div:nth-child(1){
   width: 393px;
   margin-left: 275px;
   z-index: 2;
}

/*Placement Conteneur Titre fraise*/
.home .elementor-element-9f5b5f0{
   bottom: 475px;
}

/*Conteneur Titre pamplemousse*/
.home .elementor-element-89b88ab > div:nth-child(1){
   width: 393px;
   z-index: 2;
}

/*Placement Conteneur Titre pamplemousse*/
.home .elementor-element-40cf025{
   bottom: 350px;
}

/*Conteneur Titre framboise*/
.home .elementor-element-40cf025 > div:nth-child(1){
   width: 393px;
   margin-left: 275px;
   z-index: 2;
}

/*Placement Conteneur Titre framboise*/
.home .elementor-element-89b88ab{
   bottom: 500px;
}

/*Conteneur Titre citron*/
.home .elementor-element-7fa3054 > div:nth-child(1){
   width: 393px;
   z-index: 2;
}

/*Placement Conteneur Titre citron*/
.home div.elementor-element:nth-child(8){
   bottom: 320px;
}

/*************************************************/
/*Bouton Commander Home*/
.home div.elementor-element:nth-child(9){
   width: 100%;
}

/*Placement Bouton Commander Home*/
.home div.elementor-element:nth-child(9){
   margin: auto;
}

/*Placement Bouton Commander Home*/
div.elementor-element:nth-child(9){
   bottom: 250px;
}

/*************************************************/
/*Home SECTION Ce qu'ils en pensent*/








/*************************************************/
/*Cannettes pied de page*/



/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*NOUS RENCONTRER*/




/*Canettes pied de page*/


/*************************************************/
/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/
/*************************************************/
/*COMMANDER*/

